.name{
    border: 2px solid hsla(220, 100%, 50%, 0.5);
    color: rgb(67, 13, 168);  
     
}
.bio{
    
    color: rgba(20, 20, 22, 0.5);
}
.gradiente{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(45deg,#2F8F9D,#3BACB6,#82DBD8,#B3E8E5,#B3E8E5ff);
    background-size: 400%,400%;
    animation: colors 15s ease infinite;
    
}
@keyframes colors{
    0%{
        background-position: 0%,50%;  
    }
    50%{
        background-position: 100%,50%;
    }
    100%{
        background-position: 0%,50%;
    }
}